body {
	font-family: Arial, Veranda, Serif;
	margin: 0;
}

#nav-menu {
	height: 100%;
	width: 15%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #333;
	overflow-x: hidden;
	padding-top: 20px;
	text-decoration: none;
}

#header-content {
	padding-left: 17%;
}

.body-panel {
	display: none;
	position: absolute;
	padding-left: 17%;
}