
/*Sets the font family for entire page.
removes entire margin for body section to create borderless display.*/
body {
	font-family: Arial, Veranda, Serif;
	margin: 0;
}

/*Sets attributes for the nav menu root element*/
#nav-menu {
	height: 100%;
	width: 15%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #353940;
	overflow-x: hidden;
	text-decoration: none;
	text-align: center;
	z-index: 1;
}
/*specifies hyperlink button text attributes*/
#nav-menu a {
	text-decoration: none;
	color: white;
	font-size: 12pt;
	display: block;
	border-top: 1px solid white;
	overflow: visible;
	height: 30px;
	padding-top: 20px;
	text-align: center;
}

/*Specifies most dropdown button attributes.*/
button.drop-button {
	text-decoration: none;
	background-color: #353940;
	border: 0;
	width: 100%;
	color: white;
	height: 50px;
	outline: none;
	font-size: 12pt;
	border-top: 1px solid white;
	overflow: visible;
	text-align: center;
}

/*Active class to highlight activated dropdown buttons*/
button.active {
	background: #230fa8;
}

/*container class for dropdown menu items - hidden by default (display is manupulated via JS)*/
.dropdown-content {
	display: none;
	background-color: #4a5059;
}

/*specifies layout for dropdown menu items*/
.dropdown-content a {
	display: block;
	padding-top: 5px;
}
/*keeps header in line with rest of body*/
#header-content {
	padding-left: 17%;
}
/*specifies positioning for body container divs*/
.body-panel {
	position: absolute;
	padding-left: 17%;
	width: 75%;
}
h1 {
	background-color: #353940;
	color: white;
	top: 0;
	margin: 0;
	padding: 7px;
}